
h1{
    font-size: 35px;
    font-weight: bold;
    color: #d09797;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
    
}
body{
   font-family:Segoe UI,Arial,Helvetica,sans-serif;
    background:#fff;
    margin: 20px;
    padding: 20px;
}

.FormDesign{
    background: #f2f2f2;
    padding: 25px;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    margin-top: 20px;
    
}

input{
    width: 100%;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid #b3acac;
    
    
}

button{
    background-color: #20c217;
    padding: 7px;
    font-size:medium;
    width : 25%;
    color: white;
    margin-left: 20%;
    border-radius: 30px;
    
    
}

button:hover{
    background-color: #1c2a1d;
    cursor: pointer;
}

input:hover{
    background-color: #bbdf89;
    
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   
}
    
