
h1{
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}
body{
    font-family: Arial, sans-serif;
    background-color: #9d9494;
    margin: 20px;
    padding: 20px;
}

.FormDesign{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}